@{
    ViewBag.Title = "Cửa hàng vật liệu";

    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}
@using CHBHTH.Models;


<br />
<header class="bg-body py-0">
    <center>
        <div class="row">
            <div class="col-md-16">
                <img src="~/Images/Trangchu3.png" style="width: 100%;" />
                
                
            </div>
        </div>
    </center>
</header>
<br />
<div class="spnoibat">
    <center>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/KHUYENMAI.png" class="img-responsive" alt="" width="70%" />
            </div>
            <div class="col-md-4">
                <img src="~/Images/KhuyenMai2.jpg" class="img-responsive" alt="" width="80%" />
            </div>
            <div class="col-md-4">
                <img src="~/Images/THANHLY.jpg" class="img-responsive" alt="" width="80%" />
            </div>
        </div>
    </center>
</div> <br />

    @Html.Action("suapartial", "Home")

   

