
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>


    <!-- Css Styles -->
    <link rel="stylesheet" href="~/csslayout1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/csslayout1/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/csslayout1/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/csslayout1/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/csslayout1/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/csslayout1/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/csslayout1/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/csslayout1/css/style.css" type="text/css">
</head>

<body>


    <!-- Header Section End -->
    <!-- Hero Section Begin -->
   
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Bestsell Product</h2>
                    </div>
                   
                </div>
            </div>
            <div class="row featured__filter">
                @RenderBody()
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Banner Begin -->
    <!-- Banner End -->
    <!-- Latest Product Section Begin -->
    <!-- Latest Product Section End -->
    <!-- Blog Section Begin -->
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <!-- Footer Section End -->
    <!-- ~/csslayout1/css/ Plugins -->
    <script src="~/csslayout1/js/jquery-3.3.1.min.~/csslayout1/css/"></script>
    <script src="~/csslayout1/js/bootstrap.min.~/csslayout1/css/"></script>
    <script src="~/csslayout1/js/jquery.nice-select.min.~/csslayout1/css/"></script>
    <script src="~/csslayout1/js/jquery-ui.min.~/csslayout1/css/"></script>
    <script src="~/csslayout1/js/jquery.slicknav.~/csslayout1/css/"></script>
    <script src="~/csslayout1/js/mixitup.min.~/csslayout1/css/"></script>
    <script src="~/csslayout1/js/owl.carousel.min.~/csslayout1/css/"></script>
    <script src="~/csslayout1/js/main.~/csslayout1/css/"></script>



</body>

</html>